<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1.0">
    <title>
        {% block title %}
        IDS
        {% endblock %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    {% include 'header.html' %}
    {% include 'flash.html' %}
    {% block content %}
    {% endblock %}
    {% include 'login.html' %}
    {% include 'register.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>